.img {
  background-position: center;
  background-size: cover;
  width: 28rem;
  height: 28rem;
  border-radius: 1rem;
}

.title {
  font-size: 2.3rem;
  text-align: center;

}

.price {
  font-size: 2.3rem;
  text-align: center;
  margin-top: 3rem;
  font-weight: bold;
}

.item {
  padding: 2.3rem;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

.button-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem auto;
  background-color: crimson;
  border-radius: 8px;
}
.button {
  font-size: 2rem;
  background-color: crimson;
  color: white;
  font-weight: bold;
  border-width: 0;
  height: 3.5rem;
  cursor: pointer;
}

.button-container :hover {
  color: black;
}

.title{
  margin-top: 5rem;
  height: 5rem;
  border-radius: 1rem;
  color: black;
}


