
.App {
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

html {
  font-size: 60%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Ubuntu', sans-serif;
}